<header>
    <nav>
        <a href='/'>ClownBary</a>
        <ul>
            <li><a href='/'>All books</a></li>
            <li><a href='/'>Add books</a></li>
            <li><a href='/author'>Authors</a></li>
            <li><a href='/author/new'>New Authors</a></li>
        </ul>
    </nav>
</header>